@charset "ISO-8859-1";


/* CSS personalizzato in custom.css */
body {
	background-color: #323232;
	/* Sostituisci con il colore desiderato */
}

/* Esempio di classe personalizzata per il corpo */
.my-theme-body {
	background-color: #D7C99C;
	/* Sostituisci con il colore desiderato */
	color: white;
}

/* Stile del contenitore */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 10px;
	color: black;
	font-size: 18px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stileLabel {
	font-weight: bold;
	/* Rende il testo in grassetto */
	color: #333;
	/* Colore del testo */
	font-size: 16px;
	/* Dimensione del testo */
	margin-bottom: 5px;
	/* Spazio sotto l'etichetta */
	/* Altri stili personalizzati a tua scelta */
}

.divLeft {
	text-align: left;
}


/* Stile generale per tutti i campi di input */
.inputText {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	transition: border 0.3s;
	background-color: white;
	color: red;
}

/* Stile per evidenziare il campo quando è in stato di hover/focus */
.inputText:hover,
.inputText:focus {
	border: 2px solid #0078d4;
}


.stileInput {
	width: 90%;
	/* Rendi l'input largo al 100% del contenitore */
	padding: 10px;
	/* Aggiunge spazio interno all'input */
	font-size: 16px;
	/* Dimensione del carattere */
	border: 1px solid #ccc;
	/* Bordo sottile con colore grigio */
	border-radius: 5px;
	/* Bordo arrotondato */
	color: rgb(255, 255, 255);
	background-color: white;
	margin: 10px;
	background-color: white;
	color: red;
}

.uppercase {
	width: 90%;
	/* Rendi l'input largo al 100% del contenitore */
	padding: 10px;
	/* Aggiunge spazio interno all'input */
	font-size: 16px;
	/* Dimensione del carattere */
	border: 1px solid #ccc;
	/* Bordo sottile con colore grigio */
	border-radius: 5px;
	/* Bordo arrotondato */
	color: black;
	background-color: white;
	margin: 10px;
	text-transform: uppercase;
}

/* Stile per il pulsante */
.stileButton {
	background-color: #6B6B6B;
	/* Colore di sfondo personalizzato */
	color: #ffffff;
	/* Colore del testo */
	padding: 10px 20px;
	/* Spazio interno al pulsante */
	border: none;
	/* Rimuove il bordo predefinito */
	border-radius: 5px;
	/* Bordo arrotondato */
	cursor: pointer;
	/* Cambia il cursore al passaggio del mouse */

	/* Effetto hover */
	transition: background-color 0.3s;
}

.stileButton:hover {
	background-color: #555555;
	/* Cambia il colore di sfondo al passaggio del mouse */
}








/*------------------------------------------------------------      CSS PER GIOCO SCACCHI       --------------------------------------------------------------------*/


/*CONTENITORE PRINCIPALE*/
.container1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 1100px;
	margin: 40px auto 0 auto;
	/* Margini superiori e inferiori a 0, margini a destra e sinistra a auto */
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	color: black;
	font-size: 18px;
	background-image: url("https://img3.stockfresh.com/files/d/dolgachov/m/16/4642902_stock-photo-close-up-of-wooden-floor-or-wall-background.jpg"); /*https://i.pinimg.com/550x/5c/12/28/5c12284a80a8e53e92d564917b27c8a0.jpg*/
}
/*SECONDO CONTENITORE DIVISO ORIZZONTALMENTE PER METTERE CONTENITORE2 OVVERO SCACCHIERA E CONTENITORE MOSSE*/
.container1-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
}
/*CONTENITORE PER LA SCACCHIERA A SINISTRA*/
.container2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #D7C99C;
	width:700px;
	height:850px;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 10px;
}
/*CONTENITORE A DESTRA DELLA SCACCHIERA */
.container1-right-mosse {
	background-color: #D7C99C;
	border: 3px,solid,black;
	margin-left: 50px;
	width: 350px;
	height: 550px;
	border-radius: 5px;
	font-family: VT323 ;
}

/*CONTENITORE BOTTONI IN BASSO MESSI ORIZZONTALI*/
.container-right-bottone {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/*DEFINISCE LA LARGHEZZA E L'ALTEZZA DELLA SCACCHIERA*/
.chessboard-container {
	width: 300px;
	height: 300px;
}

/* QUESTO VA A MODIFICARE IL .ui-datatable-data, MESSA COME CLASSSTYLE SU DATA TABLE E A SEGUIRE TUTTI I SUOI COMPONENTI  */
.customTable {
	width: 100%;
	height: 100%;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 10px;
    padding: 0.rem 0.rem,0 rem, 0 rem !important; 	

}
/*MODIFICA I BORDI INTERNI DELLA TABELLA LI FA DOPPI VISTO SUL BROWSER*/
.customTable table {
	border-collapse: separate ;
	border: 0px !important;
}

/*VA A MODIFICARE IL DATA TABLE , OVVERO IL THEAD*/
.customTable thead {
	display: none;
}

/*QUESTO FA L'OVVERIDE DELLE DI OGNI SINGOLA COLUMNS DI DATA TABLE, POSIZIONE RELATIVE PICCOLO PADDING PER NON STARE ATTACCATO AL BORDO IN QUANTO DENTRO C'E QUESTO SOTTO */
.chessboard-white-cell {
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
	background-color: rgb(219, 201, 185);
    padding-top: 2px !important;
    padding-left: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 2px !important;
    position: relative; /* Per consentire al div interno di posizionarsi in modo assoluto */
}

/*QUESTO FA L'OVVERIDE DELLE DI OGNI SINGOLA COLUMNS DI DATA TABLE, POSIZIONE RELATIVE PICCOLO PADDING PER NON STARE ATTACCATO AL BORDO IN QUANTO DENTRO C'E QUESTO SOTTO */
.chessboard-black-cell {
	width: 80px;
	height: 80px;
	background-color: rgb(126, 88, 78);
	padding-top: 2px !important;
	padding-left: 2px !important;
	padding-bottom: 2px !important;
	padding-right: 2px !important;
	position: relative; /* Per consentire al div interno di posizionarsi in modo assoluto */
}


/*QUESTO MODIFICA TUTTO LO SFONDO DELLA FORM E I PICCOLI DIV CHE FANNO PARTE DI UN OGNI CELLA, MI ADDATTO IN LUNGHEZZA E LARGHEZZA ALLE BLACK CELL E WHITE CELL
  E POSIZIONO IL CONTENUTO QUINDI ICONA E COMMAND LINK AL CENTRO DI QUESTO DIV CHE FA PARTE DI UI
  RIMOZIONE CENTRATURA ICONA E COMMAND LINK IN QUANTO MI SI ROMPEVA L'INDEX UTENTE, QUINDI SONO ANDATO DOVE HO LE ICONE DI OGNI PEDINA E NELL OUT PUT
  HO MESSO CLASS class="ui-outputpanel ui-widget" style="display: flex; justify-content: center; align-items: center " COSI HO AGGITO SOLO SU QUEL .ui-outputpanel.ui-widget */
.ui-outputpanel.ui-widget {
    background-color: transparent;
    width: 100% !important;
    height: 100% !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right:	0px !important;
	background-color: transparent !important; 	
}


body .ui-messages {
    padding: 0;
    margin: 0;
    font-weight: 600;
    position: relative;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

body .ui-messages>div {
    padding:0px !important;
    border-radius: 3px;
    border-width: 0 0 0 0 !important;
    height: 40px;
    width: 240px;
    margin: 0 0 0 0 !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}


.ui-messages.ui-messages-noicon ul {
    margin: 0 0 0 0 !important;
}


/* CENTRATURA COMMAND LINK */
.chessboard-black-cell div .ui-commandlink {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* AREA DI CLICK COMMAND LINK DISPONIBILI*/
.p-commandlink-trasparent {
	text-decoration: none !important;
    padding: 32px; 
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: transparent;
    transition: border 0.3s, background-color 0.3s; /* Aggiungi una transizione per un effetto di transizione fluida */
}

.p-commandlink-trasparent:hover {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(0, 128, 255, 0.4);   
    top: 2px;
    left: 2px;
    padding:30px;
}


/* AREA DI CLICK COMMAND LINK NON DISPONIBILI*/
.p-commandlink-nonDisponibile {
  	padding: 32px;
    position: absolute;
    top: 7px;
    left: 7px;
    background-color:rgba(255, 255, 255, 0.7);    
    }

/* COMMAND BUTTON SOVRASCRITTO DALLO STILE BUTTON-SCACCHI*/
.button-scacchi {
	font-family: VT323 !important;
	font-size: 30px !important;
	background-color: #D7C99C !important;
	border-color: black !important;
	border-width: 4px !important;
	border-radius: 10px !important;
}

.button-scacchi:hover {
	color: white !important;
}

/*TOGLIERE LA TITLE BAR DELLA FINESTRA DI DIALOG*/
.ui-dialog-titlebar{
display:none;
}
.mioDialog.ui-dialog .ui-dialog-content{
    background: #D7C99C !important;
    border: 5px solid #191919 !important;
    }

.menuButton.ui-menubutton.ui-widget button{
	background-color: white !important;
	font-family: VT323;
	font-size: 20px;
	line-height: 3.0;
	border:3px solid black;
	border-radius: 5px;
}
.selezione.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.mygreen {
	background-color: red;
	
}

.modalVittoria.ui-dialog{
	border: 0px !important;
}

.modalVittoria.ui-dialog .ui-dialog-content{
	height: 1200px !important;
	width: 2400px !important;
	background-color: transparent !important;
	border:0px !important;
	padding: 0px !important;
	display: flex; /* Aggiungi display flex */
	justify-content: center; /* Centra orizzontalmente */
	align-items: center; /* Centra verticalmente */
}

/*.modalVittoria.ui-dialog .ui-dialog-content div{*/
/*	position: absolute;  Aggiungi position absolute */
/*	top: 0;  Imposta top a 0 */
/*	left: 0;  Imposta left a 0 */
/*	right: 0;  Imposta right a 0 */
/*	bottom: 0;  Imposta bottom a 0 */
/*	margin: auto;  Aggiungi margin auto */
/*}*/

@keyframes firework {
  0% { 
    transform: translate(-50%, 30vh); /*tipo altezza da dove partono*/
    width: 0.5vmin;
    opacity: 1;
  }
  25% { 
    width: 0.5vmin;
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  95% {
    width: 35vmin;
    opacity: 1;
  }
  100% { 
    width: 35vmin; 
    opacity: 1; 
  }
}

.firework,
.firework::before,
.firework::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
  transform: translate(-50%, -50%);    /* questo praticamente centra dallo scoppio i raggi intorno cosi viene un cerchio perfetto*/
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds with different colors */
    radial-gradient(circle, #ff0000 0.4vmin, #0000 0) 50% 00%,   
    radial-gradient(circle, #00ff00 0.8vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #0000ff 0.3vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ffff00 0.6vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff00ff 0.6vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #00ffff 0.2vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff8000 0.8vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #00ff80 0.8vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #8000ff 0.9vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0080 0.6vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #0080ff 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff8000 0.9vmin, #0000 0) 13% 24%;
  background-size: 5.5vmin 1.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}

.firework::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}




@keyframes firework2 {
  0% { 
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }
  25% { 
    width: 0.5vmin;
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  95% {
    width: 35vmin;
    opacity: 1;
  }
  100% { 
    width: 35vmin; 
    opacity: 1; 
  }
}

.firework2,
.firework2::before,
.firework2::after {
  --top: 50vh;
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);    /* questo praticamente centra dallo scoppio i raggi intorno cosi viene un cerchio perfetto*/
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds with different colors */
   radial-gradient(circle, #ff0000 0.4vmin, #0000 0) 50% 00%,   
    radial-gradient(circle, #00ff00 0.8vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #0000ff 0.3vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ffff00 0.6vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff00ff 0.6vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #00ffff 0.2vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff8000 0.8vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #00ff80 0.8vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #8000ff 0.9vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0080 0.6vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #0080ff 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff8000 0.9vmin, #0000 0) 13% 24%;
  background-size: 5.5vmin 1.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}

.firework2::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

.firework2::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}



@keyframes firework3 {
  0% { 
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }
  25% { 
    width: 0.5vmin;
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  95% {
    width: 35vmin;
    opacity: 1;
  }
  100% { 
    width: 35vmin; 
    opacity: 1; 
  }
}

.firework3,
.firework3::before,
.firework3::after {
  --top: 50vh;
  content: "";
  position: absolute;
  top: 55%;
  left: 35%;
  z-index: 1;
  transform: translate(-50%, -50%);    /* questo praticamente centra dallo scoppio i raggi intorno cosi viene un cerchio perfetto*/
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds with different colors */
    radial-gradient(circle, #ff0000 0.4vmin, #0000 0) 50% 00%,   
    radial-gradient(circle, #00ff00 0.8vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #0000ff 0.3vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ffff00 0.6vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff00ff 0.6vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #00ffff 0.2vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff8000 0.8vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #00ff80 0.8vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #8000ff 0.9vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0080 0.6vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #0080ff 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff8000 0.9vmin, #0000 0) 13% 24%;
  background-size: 5.5vmin 1.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}

.firework3::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

.firework3::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}



@keyframes firework4 {
  0% { 
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }
  25% { 
    width: 0.5vmin;
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  95% {
    width: 35vmin;
    opacity: 1;
  }
  100% { 
    width: 35vmin; 
    opacity: 1; 
  }
}


.firework4,
.firework4::before,
.firework4::after {
  --top: 20vh;
  content: "";
  position: absolute;
  top: 60%;
  left: 45%;
  z-index: 1;
  transform: translate(-50%, -50%);    /* questo praticamente centra dallo scoppio i raggi intorno cosi viene un cerchio perfetto*/
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds with different colors */
   	radial-gradient(circle, #ff0000 0.4vmin, #0000 0) 50% 00%,   
    radial-gradient(circle, #00ff00 0.8vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #0000ff 0.3vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ffff00 0.6vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff00ff 0.6vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #00ffff 0.2vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff8000 0.8vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #00ff80 0.8vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #8000ff 0.9vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0080 0.6vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #0080ff 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff8000 0.9vmin, #0000 0) 13% 24%;
  background-size: 5.5vmin 1.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}

.firework4::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

.firework4::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.firework5,
.firework5::before,
.firework5::after {
  --top: 50vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  z-index: 1;
  transform: translate(-50%, -50%);    /* questo praticamente centra dallo scoppio i raggi intorno cosi viene un cerchio perfetto*/
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds with different colors */
    radial-gradient(circle, #ff0000 0.4vmin, #0000 0) 50% 00%,   
    radial-gradient(circle, #00ff00 0.8vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #0000ff 0.3vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ffff00 0.6vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff00ff 0.6vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #00ffff 0.2vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff8000 0.8vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #00ff80 0.8vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #8000ff 0.9vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0080 0.6vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #0080ff 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff8000 0.9vmin, #0000 0) 13% 24%;
  background-size: 5.5vmin 1.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}

.firework5::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

.firework5::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}


/*NON DOVREBBE SERVIRE NON USATO*/
/*.chessboard-white-cell div {*/
/*    width: 100%;  Adatta il div all'intera larghezza della cella */
/*    height: 100%;  Adatta il div all'intera altezza della cella */
/*    position: absolute;  Posizionamento assoluto all'interno della cella */
/*    top: 0;  Allinea il div in alto rispetto alla cella */
/*    left: 0;  Allinea il div a sinistra rispetto alla cella */
/*    padding-top: 10px !important;*/
/*	padding-left: 10px !important;*/
/*	padding-bottom: 10px !important;*/
/*	padding-right: 10px !important;*/
/*}*/

/*DIV PER OUTPUTPANEL E WIDGET CHE SI ADATTA*/
/*.cellaSelezionata{*/
/*	width: 80%;*/
/*	height: 80%;*/
/*}*/


/*.chessCell {*/
/*	width: 40px;*/
/*	 Larghezza desiderata per ogni cella */
/*	height: 40px;*/
/*	 Altezza desiderata per ogni cella */
/*	text-align: center;*/
/*	 Centra il testo all'interno della cella */
/*	border: 1px solid #000;*/
/*	 Aggiungi un bordo nero alle celle (puoi personalizzare il colore) */
/*	background-color: #f0f0f0;*/
/*	 Colore di sfondo (puoi personalizzare) */
/*	font-size: 14px;*/
/*	 Dimensione del testo */
/*	font-weight: bold;*/
/*	 Grassetto */
/*	padding: 0;*/
/*}*/


/*DA VERIFICARE*/
/*.illuminaCella {*/
/*	display: block;*/
/*	width: 100px;*/
/*	height: 100px;*/
/*	text-align: center;*/
/*	text-decoration: none;*/
/*	background-color: red;*/
/*	color: red;*/
/*	transition: background-color 0.3s;*/
/*	 Aggiunge una transizione al cambio di colore */
/*}*/

/*.illuminaCella:active,*/
/*.illuminaCella.illuminato {*/
/*	background-color: yellow;*/
/*	 Cambia il colore di sfondo quando il link è attivo o illuminato */
/*}*/
