@charset "ISO-8859-1";


/* CSS personalizzato in custom.css */
body {
	background-color: #323232;
	/* Sostituisci con il colore desiderato */
}

/* Esempio di classe personalizzata per il corpo */
.my-theme-body {
	background-color: #323232;
	/* Sostituisci con il colore desiderato */
	color: white;
}

/* Stile del contenitore */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 10px;
	color: black;
	font-size: 18px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.chessCell {
	width: 40px;
	/* Larghezza desiderata per ogni cella */
	height: 40px;
	/* Altezza desiderata per ogni cella */
	text-align: center;
	/* Centra il testo all'interno della cella */
	border: 1px solid #000;
	/* Aggiungi un bordo nero alle celle (puoi personalizzare il colore) */
	background-color: #f0f0f0;
	/* Colore di sfondo (puoi personalizzare) */
	font-size: 14px;
	/* Dimensione del testo */
	font-weight: bold;
	/* Grassetto */
}



.stileLabel {
	font-weight: bold;
	/* Rende il testo in grassetto */
	color: #333;
	/* Colore del testo */
	font-size: 16px;
	/* Dimensione del testo */
	margin-bottom: 5px;
	/* Spazio sotto l'etichetta */
	/* Altri stili personalizzati a tua scelta */
}

.divLeft {
	text-align: left;
}


/* Stile generale per tutti i campi di input */
.inputText {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	transition: border 0.3s;
	background-color: white;
	color: red;
}

/* Stile per evidenziare il campo quando è in stato di hover/focus */
.inputText:hover,
.inputText:focus {
	border: 2px solid #0078d4;
}


.stileInput {
	width: 90%;
	/* Rendi l'input largo al 100% del contenitore */
	padding: 10px;
	/* Aggiunge spazio interno all'input */
	font-size: 16px;
	/* Dimensione del carattere */
	border: 1px solid #ccc;
	/* Bordo sottile con colore grigio */
	border-radius: 5px;
	/* Bordo arrotondato */
	color: rgb(255, 255, 255);
	background-color: white;
	margin: 10px;
	background-color: white;
	color: red;
}

.uppercase {
	width: 90%;
	/* Rendi l'input largo al 100% del contenitore */
	padding: 10px;
	/* Aggiunge spazio interno all'input */
	font-size: 16px;
	/* Dimensione del carattere */
	border: 1px solid #ccc;
	/* Bordo sottile con colore grigio */
	border-radius: 5px;
	/* Bordo arrotondato */
	color: black;
	background-color: white;
	margin: 10px;
	text-transform: uppercase;
}

/* Stile per il pulsante */
.stileButton {
	background-color: #6B6B6B;
	/* Colore di sfondo personalizzato */
	color: #ffffff;
	/* Colore del testo */
	padding: 10px 20px;
	/* Spazio interno al pulsante */
	border: none;
	/* Rimuove il bordo predefinito */
	border-radius: 5px;
	/* Bordo arrotondato */
	cursor: pointer;
	/* Cambia il cursore al passaggio del mouse */

	/* Effetto hover */
	transition: background-color 0.3s;
}

.stileButton:hover {
	background-color: #555555;
	/* Cambia il colore di sfondo al passaggio del mouse */
}



.hiddenHeader {
	display: none;
}

/* Stile per le celle della tabella */
.ui-datatable-data tr {
	background-color: #fff;
	/* Colore di sfondo delle righe dei dati */
}

/* Stile per le celle della tabella in hover (opzionale) */
.ui-datatable-data tr:hover {
	background-color: #f0f0f0;
	/* Cambia colore di sfondo al passaggio del mouse */
}


.container1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 1100px;
	margin: 40px auto 0 auto;
	/* Margini superiori e inferiori a 0, margini a destra e sinistra a auto */
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	color: black;
	font-size: 18px;
	background-image: url("https://www.appartamenti-lathuile.com/wp-content/uploads/2016/05/sfondo-legno.jpg");
}

.container2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color:#f39f5a;
	width:700px;
	height:850px;
	border: 5px solid black;
	border-radius: 10px;
}

.container-right-bottone {
    display: flex; /* Utilizza un layout flexbox */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    align-items: center; /* Centra gli elementi verticalmente */
}

.container1-right {
	display: flex;
	flex-direction: row;
	/* Imposta il contenitore in verticale */
	align-items: center;
	/* Centro verticale all'interno di .container1 */
	margin-left: 20px;
	/* Aggiungi margine sinistro per separare il contenuto a destra */
}

.container1-right-mosse {
	background-color:#323232;
	margin-left: 50px;
	width: 350px;
	height: 550px;
	border-radius: 5px;
	border: 5px solid black;
	font-family: VT323 ;

}




.chessboard-container {
	width: 300px;
	/* Adjust as needed */
	height: 300px;
	/* Adjust as needed */

}



/* Stile per la tabella personalizzata */
.customTable {
	width: 100%;
	height: 100%;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 10px;
	
}

.customTable thead {
	display: none;
}


.customColumn {
	font-weight: bold;
}


/* Stile per il testo nelle celle */
.customText {
	font-weight: bold;
}

.chessboard-white-cell {
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	background-color: #F1D2B1;

}

.chessboard-black-cell {
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	background-color: #754E51;

}

.button-scacchi {
	font-family: VT323 !important;
	font-size: 30px !important;
	background-color: #f39f5a !important;
	border-color: black !important;
	border-width: 5px !important;
	border-radius: 10px !important;
}

.button-scacchi:hover {
	color: white !important;
}



.illuminaCella {
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	text-decoration: none;
	background-color: red;
	color: red;
	transition: background-color 0.3s;
	/* Aggiunge una transizione al cambio di colore */
}

.illuminaCella:active,
.illuminaCella.illuminato {
	background-color: yellow;
	/* Cambia il colore di sfondo quando il link è attivo o illuminato */
}


.ui-dialog-titlebar{
display:none;
}